-- CreateTable
CREATE TABLE "Teacher" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,

    CONSTRAINT "Teacher_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Genre" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "color" TEXT NOT NULL,

    CONSTRAINT "Genre_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Dancer" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "level" TEXT,
    "genres" TEXT[],
    "age" INTEGER,
    "avatar" TEXT,
    "birthday" TEXT,
    "classes" TEXT[],
    "firstName" TEXT,
    "gender" TEXT,
    "lastName" TEXT,
    "phone" TEXT,

    CONSTRAINT "Dancer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Room" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "capacity" INTEGER,
    "equipment" TEXT[],

    CONSTRAINT "Room_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Routine" (
    "id" TEXT NOT NULL,
    "songTitle" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "notes" TEXT,
    "level" TEXT,
    "color" TEXT NOT NULL,
    "teacherId" TEXT NOT NULL,
    "genreId" TEXT NOT NULL,

    CONSTRAINT "Routine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScheduledRoutine" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "startMinutes" INTEGER NOT NULL,
    "duration" INTEGER NOT NULL,
    "routineId" TEXT NOT NULL,
    "roomId" TEXT NOT NULL,

    CONSTRAINT "ScheduledRoutine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_DancerToRoutine" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_DancerToRoutine_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE INDEX "ScheduledRoutine_date_roomId_startMinutes_idx" ON "ScheduledRoutine"("date", "roomId", "startMinutes");

-- CreateIndex
CREATE INDEX "_DancerToRoutine_B_index" ON "_DancerToRoutine"("B");

-- AddForeignKey
ALTER TABLE "Routine" ADD CONSTRAINT "Routine_genreId_fkey" FOREIGN KEY ("genreId") REFERENCES "Genre"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Routine" ADD CONSTRAINT "Routine_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES "Teacher"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduledRoutine" ADD CONSTRAINT "ScheduledRoutine_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "Room"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduledRoutine" ADD CONSTRAINT "ScheduledRoutine_routineId_fkey" FOREIGN KEY ("routineId") REFERENCES "Routine"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_DancerToRoutine" ADD CONSTRAINT "_DancerToRoutine_A_fkey" FOREIGN KEY ("A") REFERENCES "Dancer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_DancerToRoutine" ADD CONSTRAINT "_DancerToRoutine_B_fkey" FOREIGN KEY ("B") REFERENCES "Routine"("id") ON DELETE CASCADE ON UPDATE CASCADE;

